<div class="que4 mt-5">
    <h1 class="mb-5">Services</h1>
    <div class="container-fluid">
        <div class="row mb-2" *ngFor="let item of list">
            <div class="col-sm-9">
                <input type="checkbox" [value]=item.price (change)="onchange($event)">{{item.name}}
            </div>
            <div class="col-sm-3 mr-0">
                {{item.price}}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-9 total">
                Total
            </div>
            <div class="col-sm-3 total">
                {{total}}
            </div>
        </div>
    </div>
</div>