<div class="que4 mt-5">
    <h1 class="mb-5">Services</h1>
    <div class="container-fluid">
        <div class="row mb-2" *ngFor="let item of list">
            <div class="col-sm-10">
                <input type="checkbox" [value]=item.price (change)="onchange($event)">{{item.name}}
            </div>
            <div class="col-sm-2">
                {{item.price}}
            </div>
        </div>
        <div class="total">
            <div class="row">
                <div class="col-sm">
                    Total
                </div>
                <div class="col-sm">
                    {{total}}
                </div>
            </div>
        </div>
    </div>
</div>